<html>
    <head>
            <link rel = "stylesheet" href = "styles.css">

    </head>
    <body>
            <h3><a href="/">Home</a></h3>
            <h3><a href="/listtasks">List of Tasks</a></h3>

        <form action = "/data" method = "POST">
            Task Name:
            <input type = "text" name = "name"/> </br>
            Task Due:
            <input type = "date" name = "dueDate"/> </br>
            Task Descrip:
            <input type = "text" name = "description"/> </br>
            <button>Submit</button>
        </form>
    </body>
</html>