<html>
    <head>
            <link rel = "stylesheet" href = "styles.css">

    </head>
    <body>
            <h1>Insert New Task</h1> </br>

            <ul>
                <li><h3><a href="/">Home</a></h3></li>
                <li><h3><a href="/newtask">Add New Task</a></h3></li>
                <li><h3><a href="/listtasks">List of Tasks</a></h3></li>
                <li><h3><a href="/updatetask">Update Task</a></h3></li>
                <li><h3><a href="/deletetask">Delete Task</a></h3></li>
                <li><h3><a href="/deleteCompletedTasks">Delete Completed Tasks</a></h3></li>
            </ul>

        <form action = "/data" method = "POST">
            Task Name:
            <input type = "text" method = "POST" name = "name"/> </br>
            Assign To:
            <input type = "text" method = "POST" name = "assignTo"/> </br>
            Task Due:
            <input type = "date" method = "POST" name = "dueDate"/> </br>
            Task Status:
            <select name = "status">
                <option  name = "inprogress">Inprogress</option>
                <option  name = "Complete">Complete</option>
            </select> </br>
            Task Descrip:
            <input type = "text" method = "POST" name = "description"/> </br>
            <button>Submit</button>
        </form>
    </body>
</html>